<ActionBar title="Solicitudes" icon="" class="action-bar">
    <NavigationButton icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout height="100%" width="90%" marginTop="20">
    <ScrollView>
        <StackLayout>

            <StackLayout *ngFor="let item of petitionsArr" class="app-accordion">
                <StackLayout class="hr"> </StackLayout>
                <GridLayout rows="30, *" columns="*, 30" class="accordion">
                    <Label class="accordionTitle" [text]="item.title" row="0" col="0" textWrap="true"
                        (tap)="actionAccordion(item.id)"></Label>
                    <Label [text]="isAccordionOpen && idToOpen === item.id ? '&#xf077;' : '&#xf078;'"
                        class="fas accordionIcon" row="0" col="1" textWrap="true"
                        (tap)="actionAccordion(item.id)"></Label>
                    <StackLayout row="1" col="0" *ngIf="isAccordionOpen && idToOpen === item.id">
                        <GridLayout rows="*, *" columns="40, *">
                            <Label class="accordionSubtitle" row="0" [col]="item.icon.trim() === '' ? 0 : 1"
                                [colSpan]="item.icon.trim() === '' ? 2 : 0" [text]="item.subtitle"
                                textWrap="true"></Label>
                            <Label class="accordionParagraph" row="1" [col]="item.icon.trim() === '' ? 0 : 1"
                                [colSpan]="item.icon.trim() === '' ? 2 : 0"
                                [text]="item.phone.trim() === '' ? item.text : 'Llame al ' + item.phone + ' ' + item.text"
                                textWrap="true"></Label>
                            <Label verticalAlignment="center" row="0" col="0" rowSpan="2"
                                *ngIf="item.phone.trim() !== ''" [text]="item.icon" class="fas accordionIcon"
                                textWrap="true" (tap)="call(item.phone)"></Label>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
                <StackLayout class="hr"> </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>